In [1]:
import pandas as pd

In [18]:
import numpy as np

In [17]:
from pandas import Series,DataFrame

In [3]:
obj=Series([4,9,-69,58])

In [4]:
obj

0     4
1     9
2   -69
3    58
dtype: int64

In [5]:
obj.values

array([  4,   9, -69,  58], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2=Series([2,6,8,8,7],['k','d','f','d','fr'])

In [8]:
obj2

k     2
d     6
f     8
d     8
fr    7
dtype: int64

In [9]:
obj2.index

Index(['k', 'd', 'f', 'd', 'fr'], dtype='object')

In [10]:
obj2=Series([2,6,8,8,7],['k','d','f','d'])

ValueError: Length of passed values is 5, index implies 4

In [12]:
obj2[obj2<0]

Series([], dtype: int64)

Series 可以看做一种字典

In [13]:
data={'as':25,255:266}

In [14]:
obj3=Series(data)

In [15]:
obj3

as      25
255    266
dtype: int64

In [20]:
np.exp(obj3)

as      7.200490e+10
255    3.329141e+115
dtype: float64

In [21]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [24]:
states = ['California', 'Ohjio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, states)
obj4

California        NaN
Ohjio             NaN
Oregon        16000.0
Texas         71000.0
dtype: float64

In [25]:
pd.isnull(obj4)

California     True
Ohjio          True
Oregon        False
Texas         False
dtype: bool

In [26]:
pd.notnull(obj4)

California    False
Ohjio         False
Oregon         True
Texas          True
dtype: bool

In [27]:
obj3

as      25
255    266
dtype: int64

In [28]:
obj3+obj4

255          NaN
California   NaN
Ohjio        NaN
Oregon       NaN
Texas        NaN
as           NaN
dtype: float64

In [29]:
obj4.name

In [30]:
obj4

California        NaN
Ohjio             NaN
Oregon        16000.0
Texas         71000.0
dtype: float64

In [33]:
obj4.name='population'

In [34]:
obj4

California        NaN
Ohjio             NaN
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [35]:
obj

0     4
1     9
2   -69
3    58
dtype: int64

In [36]:
obj.index=['sd']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 1 elements

In [37]:
obj
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob       4
Steve     9
Jeff    -69
Ryan     58
dtype: int64

In [38]:
vdata = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [39]:
data

{'as': 25, 255: 266}

In [40]:
vdata

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [41]:
vdata.shape

AttributeError: 'dict' object has no attribute 'shape'

In [42]:
frame=DataFrame(vdata)

In [43]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [44]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [49]:
DataFrame(vdata,columns=['year','state'])

   year   state
0  2000    Ohio
1  2001    Ohio
2  2002    Ohio
3  2001  Nevada
4  2002  Nevada
5  2003  Nevada

In [51]:
frame2 = pd.DataFrame(vdata, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [52]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [53]:
frame2.index

Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

In [74]:
print(frame2['year'].index.name)

None

In [75]:
frame2.loc('three')

ValueError: No axis named three for object type <class 'type'>

In [76]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [77]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [94]:
frame2['debt']=np.arange(6)

In [95]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

In [97]:
val=Series([-26,-56,48],['two','four','ffd'])

In [98]:
frame2['debt']=val

In [99]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7 -26.0
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4 -56.0
five   2002  Nevada  2.9   NaN
six    2003  Nevada  3.2   NaN

In [102]:
frame2['eastern'] = frame2.state == 'Ohio'

In [103]:
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7 -26.0     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4 -56.0    False
five   2002  Nevada  2.9   NaN    False
six    2003  Nevada  3.2   NaN    False

In [104]:
frame2.eastern

one       True
two       True
three     True
four     False
five     False
six      False
Name: eastern, dtype: bool

In [105]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [106]:
np

In [107]:
pop

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [113]:
np.array(pop)

array({'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}},
      dtype=object)

AttributeError: 'dict' object has no attribute 'shape'

In [114]:
frame3=DataFrame(pop)

In [115]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [116]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [117]:
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [125]:
pdata = {frame3.Ohio[:-1],
          frame3.Nevada[:2]}
DataFrame(pdata)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [120]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [126]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [127]:
frame3.values

array([[nan, 1.5],
       [2.4, 1.7],
       [2.9, 3.6]])

In [128]:
frame2.values

array([[2000, 'Ohio', 1.5, nan, True],
       [2001, 'Ohio', 1.7, -26.0, True],
       [2002, 'Ohio', 3.6, nan, True],
       [2001, 'Nevada', 2.4, -56.0, False],
       [2002, 'Nevada', 2.9, nan, False],
       [2003, 'Nevada', 3.2, nan, False]], dtype=object)

In [129]:
frame2.values.shape

(6, 5)

In [130]:
frame2.index

Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

In [132]:
obj = pd.Series(range(3), ['a', 'b', 'c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [133]:
index[1:]

Index(['b', 'c'], dtype='object')

In [134]:
index[1] = 'd'

TypeError: Index does not support mutable operations

In [135]:
Series(obj,['d','g','h'])

d   NaN
g   NaN
h   NaN
dtype: float64

In [136]:
obj

a    0
b    1
c    2
dtype: int64

In [137]:
labels=pd.Index(np.arange(3))

In [139]:
obj2=Series([60,22,45],labels)

In [140]:
obj2

0    60
1    22
2    45
dtype: int64

name,label 会自动转换为index，immutable

In [144]:
frame3.columns.any(['Nevada', 'Ohio'])

'Nevada'

In [145]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [146]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [148]:
obj3=Series(obj,['a', 'b', 'c', 'd', 'e'])

In [149]:
obj3

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [150]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [151]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [153]:
obj3.reindex(np.arange(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [154]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [155]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [156]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [157]:
frame.loc[['a', 'b', 'c', 'd'], states]

D:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [158]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [159]:
new_obj = obj.drop('c')
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [160]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [161]:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [162]:
data.T

       Ohio  Colorado  Utah  New York
one       0         4     8        12
two       1         5     9        13
three     2         6    10        14
four      3         7    11        15

In [163]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [164]:
data.drop( axis=1)

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [165]:
data.drop('two')

KeyError: "['two'] not found in axis"

In [166]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [170]:
data.drop(axis=0)

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [171]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [172]:
data.drop('one',axis=1,inplace=True)

In [173]:
data

          two  three  four
Ohio        1      2     3
Colorado    5      6     7
Utah        9     10    11
New York   13     14    15

In [174]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [175]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [176]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [180]:
obj['b':'d']

b    1.0
c    2.0
d    3.0
dtype: float64

In [181]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [182]:
data[['three', 'one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [184]:
data[['three','one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [189]:
data.loc[:2]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [187]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [188]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [192]:
data[data['three']>10]

          one  two  three  four
New York   12   13     14    15

In [195]:
data[['one','four']]

          one  four
Ohio        0     3
Colorado    4     7
Utah        8    11
New York   12    15

In [196]:
data.loc['one']

KeyError: 'one'

In [197]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [200]:
data.loc['Colorado']

one      4
two      5
three    6
four     7
Name: Colorado, dtype: int32

In [201]:
data.loc[:'Utah', 'two']

Ohio        1
Colorado    5
Utah        9
Name: two, dtype: int32

In [213]:
data.iloc[2:,:3][data.Utah>5]

AttributeError: 'DataFrame' object has no attribute 'Utah'

In [214]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [215]:
ser = pd.Series(np.arange(3.))

In [217]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [218]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

2.0

In [219]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [220]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [223]:
df1.add(df2,fill_value=0)

            b    c     d     e
Colorado  6.0  7.0   8.0   NaN
Ohio      3.0  1.0   6.0   5.0
Oregon    9.0  NaN  10.0  11.0
Texas     9.0  4.0  12.0   8.0
Utah      0.0  NaN   1.0   2.0

In [224]:
arr = np.arange(12.).reshape((3, 4))
arr
arr[0]
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [225]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.iloc[0]

In [226]:
frame
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [227]:
frame - series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [228]:
series3 = frame['d']

In [229]:
frame.sub(series3, axis='index')

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [230]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
frame
frame.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [231]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [232]:
obj.index.is_unique

False

In [233]:
obj['a']
obj['c']

4

In [234]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a  1.421449  1.076106 -0.514290
a  0.250303  0.455986  0.506952
b  0.701413 -0.238669  0.804414
b  0.304738 -0.373206  1.620107

In [235]:
df.loc['b']

          0         1         2
b  0.701413 -0.238669  0.804414
b  0.304738 -0.373206  1.620107

In [236]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [237]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [238]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [239]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [240]:
df.idxmax()

one    b
two    d
dtype: object

In [242]:
price = pd.read_pickle('examples/yahoo_price.pkl')
volume = pd.read_pickle('examples/yahoo_volume.pkl')

FileNotFoundError: [Errno 2] No such file or directory: 'examples/yahoo_price.pkl'

In [246]:
import pandas_datareader.data as web

In [247]:
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [248]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()}) volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

SyntaxError: invalid syntax (<ipython-input-248-c09ef6b977ed>, line 1)

In [ ]:
returns = price.pct_change()
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
import pandas_datareader.data as web all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [249]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()}) volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

SyntaxError: invalid syntax (<ipython-input-249-c09ef6b977ed>, line 1)

In [250]:
all_data

{'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2009-12-31   30.478571   30.080000   30.447144   30.104286   88102700.0
 2010-01-04   30.642857   30.340000   30.490000   30.572857  123432400.0
 2010-01-05   30.798571   30.464285   30.657143   30.625713  150476200.0
 2010-01-06   30.747143   30.107143   30.625713   30.138571  138040000.0
 2010-01-07   30.285715   29.864286   30.250000   30.082857  119282800.0
 2010-01-08   30.285715   29.865715   30.042856   30.282858  111902700.0
 2010-01-11   30.428572   29.778572   30.400000   30.015715  115557400.0
 2010-01-12   29.967142   29.488571   29.884285   29.674286  148614900.0
 2010-01-13   30.132856   29.157143   29.695715   30.092857  151473000.0
 2010-01-14   30.065714   29.860001   30.015715   29.918571  108223500.0
 2010-01-15   30.228571   29.410000   30.132856   29.418571  148516900.0
 2010-01-19   30.741428   29.605715   29.761429   30.719999  182501900.0
 2010-01-20   30.792856   29.928572   30.701429   30.247143  153038200.0
 2010-01-21   30.472857   29.601429   30.297142   29.724285  152038600.0
 2010-01-22   29.642857   28.165714   29.540001   28.250000  220441900.0
 2010-01-25   29.242857   28.598572   28.930000   29.010000  266424900.0
 2010-01-26   30.530001   28.940001   29.421429   29.420000  466777500.0
 2010-01-27   30.082857   28.504286   29.549999   29.697144  430642100.0
 2010-01-28   29.357143   28.385714   29.275715   28.469999  293375600.0
 2010-01-29   28.885714   27.178572   28.725714   27.437143  311488100.0
 2010-02-01   28.000000   27.328571   27.481428   27.818571  187469100.0
 2010-02-02   28.045713   27.625713   27.987143   27.980000  174585600.0
 2010-02-03   28.600000   27.774286   27.881428   28.461428  153832000.0
 2010-02-04   28.338572   27.367144   28.104286   27.435715  189413000.0
 2010-02-05   28.000000   27.264286   27.518572   27.922857  212576700.0
 2010-02-08   28.268572   27.714285   27.955715   27.731428  119567700.0
 2010-02-09   28.214285   27.821428   28.059999   28.027143  158221700.0
 2010-02-10   28.085714   27.751429   27.984285   27.874287   92590400.0
 2010-02-11   28.535715   27.722857   27.840000   28.381428  137586400.0
 2010-02-12   28.805714   27.928572   28.301428   28.625713  163867200.0
 ...                ...         ...         ...         ...          ...
 2019-04-02  194.460007  191.050003  191.089996  194.020004   22765700.0
 2019-04-03  196.500000  193.149994  193.250000  195.350006   23271800.0
 2019-04-04  196.369995  193.139999  194.789993  195.690002   19114300.0
 2019-04-05  197.100006  195.929993  196.449997  197.000000   18526600.0
 2019-04-08  200.229996  196.339996  196.419998  200.100006   25881700.0
 2019-04-09  202.850006  199.229996  200.320007  199.500000   35768200.0
 2019-04-10  200.740005  198.179993  198.679993  200.619995   21695300.0
 2019-04-11  201.000000  198.440002  200.850006  198.949997   20900800.0
 2019-04-12  200.139999  196.210007  199.199997  198.869995   27760700.0
 2019-04-15  199.850006  198.009995  198.580002  199.229996   17536600.0
 2019-04-16  201.369995  198.559998  199.460007  199.250000   25696400.0
 2019-04-17  203.380005  198.610001  199.539993  203.130005   28906800.0
 2019-04-18  204.149994  202.520004  203.119995  203.860001   24195800.0
 2019-04-22  204.940002  202.339996  202.830002  204.529999   19439500.0
 2019-04-23  207.750000  203.899994  204.429993  207.479996   23323000.0
 2019-04-24  208.479996  207.050003  207.360001  207.160004   17540600.0
 2019-04-25  207.759995  205.119995  206.830002  205.279999   18543200.0
 2019-04-26  205.000000  202.119995  204.899994  204.300003   18649100.0
 2019-04-29  205.970001  203.860001  204.399994  204.610001   22204700.0
 2019-04-30  203.399994  199.110001  203.059998  200.669998   46534900.0
 2019-05-01  215.309998  209.229996  209.880005  210.520004   64827300.0
 2019-05-02  212.649994  208.130005  209.839996  209.149994   31996300.0
 2019-05-03  211.839996  210.229996  210.889999  211.750000   20892400.0
 2019-05-06  208.839996  203.500000  204.289993  208.479996   32443100.0
 2019-05-07  207.419998  200.830002  205.880005  202.860001   38763700.0
 2019-05-08  205.339996  201.750000  201.899994  202.899994   26339500.0
 2019-05-09  201.679993  196.660004  200.399994  200.720001   34908600.0
 2019-05-10  198.850006  192.770004  197.419998  197.179993   41208700.0
 2019-05-13  189.479996  182.850006  187.710007  185.720001   57430600.0
 2019-05-14  189.699997  185.410004  186.410004  188.660004   35629000.0

              Adj Close
 Date
 2009-12-31   19.996618
 2010-01-04   20.307869
 2010-01-05   20.342979
 2010-01-06   20.019398
 2010-01-07   19.982389
 2010-01-08   20.115240
 2010-01-11   19.937790
 2010-01-12   19.710993
 2010-01-13   19.989031
 2010-01-14   19.873259
 2010-01-15   19.541140
 2010-01-19   20.405605
 2010-01-20   20.091518
 2010-01-21   19.744209
 2010-01-22   18.764919
 2010-01-25   19.269749
 2010-01-26   19.542088
 2010-01-27   19.726181
 2010-01-28   18.911057
 2010-01-29   18.224987
 2010-02-01   18.478348
 2010-02-02   18.585581
 2010-02-03   18.905357
 2010-02-04   18.224039
 2010-02-05   18.547623
 2010-02-08   18.420462
 2010-02-09   18.616892
 2010-02-10   18.515354
 2010-02-11   18.852224
 2010-02-12   19.014488
 ...                ...
 2019-04-02  193.275696
 2019-04-03  194.600601
 2019-04-04  194.939301
 2019-04-05  196.244263
 2019-04-08  199.332382
 2019-04-09  198.734680
 2019-04-10  199.850372
 2019-04-11  198.186783
 2019-04-12  198.107086
 2019-04-15  198.465714
 2019-04-16  198.485641
 2019-04-17  202.350754
 2019-04-18  203.077957
 2019-04-22  203.745377
 2019-04-23  206.684052
 2019-04-24  206.365295
 2019-04-25  204.492508
 2019-04-26  203.516266
 2019-04-29  203.825073
 2019-04-30  199.900192
 2019-05-01  209.712402
 2019-05-02  208.347656
 2019-05-03  210.937683
 2019-05-06  207.680222
 2019-05-07  202.081787
 2019-05-08  202.121628
 2019-05-09  199.949997
 2019-05-10  197.179993
 2019-05-13  185.720001
 2019-05-14  188.660004

 [2357 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2009-12-31  132.850006  130.750000  132.410004  130.899994   4223400.0
 2010-01-04  132.970001  130.850006  131.179993  132.449997   6155300.0
 2010-01-05  131.850006  130.100006  131.679993  130.850006   6841400.0
 2010-01-06  131.490005  129.809998  130.679993  130.000000   5605300.0
 2010-01-07  130.250000  128.910004  129.869995  129.550003   5840600.0
 2010-01-08  130.919998  129.050003  129.070007  130.850006   4197200.0
 2010-01-11  131.059998  128.669998  131.059998  129.479996   5730400.0
 2010-01-12  131.330002  129.000000  129.029999  130.509995   8081500.0
 2010-01-13  131.119995  129.160004  130.389999  130.229996   6455400.0
 2010-01-14  132.710007  129.910004  130.550003  132.309998   7111800.0
 2010-01-15  132.889999  131.089996  132.029999  131.779999   8494400.0
 2010-01-19  134.250000  131.559998  131.630005  134.139999  13916200.0
 2010-01-20  131.149994  128.949997  130.460007  130.250000  15197500.0
 2010-01-21  130.690002  128.059998  130.470001  129.000000   9608600.0
 2010-01-22  128.889999  125.370003  128.669998  125.500000  10088600.0
 2010-01-25  126.889999  125.709999  126.330002  126.120003   5738500.0
 2010-01-26  127.750000  125.410004  125.919998  125.750000   7135300.0
 2010-01-27  126.959999  125.040001  125.820000  126.330002   8719200.0
 2010-01-28  127.040001  123.050003  127.029999  123.750000   9622200.0
 2010-01-29  125.000000  121.900002  124.320000  122.389999  11571200.0
 2010-02-01  124.949997  122.779999  123.230003  124.669998   7242900.0
 2010-02-02  125.809998  123.949997  124.790001  125.529999   5899900.0
 2010-02-03  126.070000  125.070000  125.160004  125.660004   4177100.0
 2010-02-04  125.440002  122.900002  125.190002  123.000000   9126900.0
 2010-02-05  123.720001  121.830002  123.040001  123.519997   8617000.0
 2010-02-08  123.220001  121.739998  123.150002  121.879997   5718500.0
 2010-02-09  124.199997  122.459999  122.650002  123.209999   6044500.0
 2010-02-10  123.650002  122.209999  122.940002  122.809998   5219100.0
 2010-02-11  124.199997  122.059998  122.580002  123.730003   5089000.0
 2010-02-12  124.050003  121.610001  123.010002  124.000000   8017700.0
 ...                ...         ...         ...         ...         ...
 2019-04-02  143.949997  142.600006  143.350006  143.000000   2404800.0
 2019-04-03  144.220001  143.009995  143.649994  143.630005   2681200.0
 2019-04-04  144.139999  142.539993  143.619995  142.779999   2771100.0
 2019-04-05  143.500000  142.460007  143.289993  143.279999   2731800.0
 2019-04-08  143.419998  142.869995  143.020004  143.389999   2118200.0
 2019-04-09  142.949997  141.839996  142.660004  142.110001   3038500.0
 2019-04-10  143.500000  141.979996  142.199997  143.020004   2678000.0
 2019-04-11  144.110001  143.029999  143.800003  143.779999   2942000.0
 2019-04-12  144.440002  143.699997  144.259995  144.350006   2898900.0
 2019-04-15  144.460007  143.270004  144.399994  143.899994   3603200.0
 2019-04-16  145.389999  144.020004  144.399994  145.139999   6301700.0
 2019-04-17  141.979996  136.259995  137.369995  139.110001  12525700.0
 2019-04-18  140.490005  138.699997  139.000000  140.330002   4960000.0
 2019-04-22  140.559998  138.479996  139.419998  138.889999   4494000.0
 2019-04-23  140.919998  138.940002  139.149994  140.440002   4462200.0
 2019-04-24  141.309998  139.779999  140.600006  139.949997   2774900.0
 2019-04-25  139.750000  137.710007  139.699997  138.630005   2910100.0
 2019-04-26  139.889999  138.809998  139.339996  139.440002   2319800.0
 2019-04-29  139.630005  138.809998  139.149994  139.050003   2958300.0
 2019-04-30  140.440002  138.679993  139.110001  140.270004   4638800.0
 2019-05-01  141.809998  140.169998  140.550003  140.559998   3053700.0
 2019-05-02  141.279999  139.410004  140.500000  139.589996   3541400.0
 2019-05-03  141.000000  139.630005  139.699997  140.250000   2579900.0
 2019-05-06  140.690002  137.899994  138.300003  140.380005   2793300.0
 2019-05-07  139.509995  136.190002  139.149994  137.639999   4726800.0
 2019-05-08  138.699997  137.130005  137.770004  138.000000   3818900.0
 2019-05-09  135.580002  133.029999  134.889999  135.339996   4192700.0
 2019-05-10  135.750000  132.419998  134.880005  135.320007   3977600.0
 2019-05-13  133.570007  130.960007  133.279999  131.419998   4958000.0
 2019-05-14  134.320007  131.679993  131.820007  133.309998   3252200.0

              Adj Close
 Date
 2009-12-31   98.137283
 2010-01-04   99.299347
 2010-01-05   98.099792
 2010-01-06   97.462532
 2010-01-07   97.125160
 2010-01-08   98.099792
 2010-01-11   97.072685
 2010-01-12   97.844872
 2010-01-13   97.634964
 2010-01-14   99.194389
 2010-01-15   98.797028
 2010-01-19  100.566330
 2010-01-20   97.649979
 2010-01-21   96.712860
 2010-01-22   94.088844
 2010-01-25   94.553688
 2010-01-26   94.276276
 2010-01-27   94.711105
 2010-01-28   92.776848
 2010-01-29   91.757233
 2010-02-01   93.466576
 2010-02-02   94.111336
 2010-02-03   94.208817
 2010-02-04   92.214569
 2010-02-05   92.604401
 2010-02-08   91.783577
 2010-02-09   92.785126
 2010-02-10   92.483902
 2010-02-11   93.176750
 2010-02-12   93.380051
 ...                ...
 2019-04-02  141.321304
 2019-04-03  141.943909
 2019-04-04  141.103882
 2019-04-05  141.598022
 2019-04-08  141.706726
 2019-04-09  140.441757
 2019-04-10  141.341080
 2019-04-11  142.092148
 2019-04-12  142.655457
 2019-04-15  142.210739
 2019-04-16  143.436188
 2019-04-17  137.476974
 2019-04-18  138.682648
 2019-04-22  137.259552
 2019-04-23  138.791351
 2019-04-24  138.307098
 2019-04-25  137.002609
 2019-04-26  137.803101
 2019-04-29  137.417679
 2019-04-30  138.623352
 2019-05-01  138.909943
 2019-05-02  137.951324
 2019-05-03  138.603592
 2019-05-06  138.732071
 2019-05-07  136.024231
 2019-05-08  136.380005
 2019-05-09  135.339996
 2019-05-10  135.320007
 2019-05-13  131.419998
 2019-05-14  133.309998

 [2357 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close       Volume  \
 Date
 2009-12-31   30.990000   30.480000   30.980000   30.480000   31929700.0
 2010-01-04   31.100000   30.590000   30.620001   30.950001   38409100.0
 2010-01-05   31.100000   30.639999   30.850000   30.959999   49749600.0
 2010-01-06   31.080000   30.520000   30.879999   30.770000   58182400.0
 2010-01-07   30.700001   30.190001   30.629999   30.450001   50559700.0
 2010-01-08   30.879999   30.240000   30.280001   30.660000   51197400.0
 2010-01-11   30.760000   30.120001   30.709999   30.270000   68754700.0
 2010-01-12   30.400000   29.910000   30.150000   30.070000   65912100.0
 2010-01-13   30.520000   30.010000   30.260000   30.350000   51863500.0
 2010-01-14   31.100000   30.260000   30.309999   30.959999   63228100.0
 2010-01-15   31.240000   30.709999   31.080000   30.860001   79913200.0
 2010-01-19   31.240000   30.680000   30.750000   31.100000   46575700.0
 2010-01-20   30.940001   30.309999   30.809999   30.590000   54849500.0
 2010-01-21   30.719999   30.000000   30.610001   30.010000   73086700.0
 2010-01-22   30.200001   28.840000   30.000000   28.959999  102004600.0
 2010-01-25   29.660000   29.100000   29.240000   29.320000   63373000.0
 2010-01-26   29.850000   29.090000   29.200001   29.500000   66639900.0
 2010-01-27   29.820000   29.020000   29.350000   29.670000   63949500.0
 2010-01-28   29.870001   28.889999   29.840000   29.160000  117513700.0
 2010-01-29   29.920000   27.660000   29.900000   28.180000  193888500.0
 2010-02-01   28.480000   27.920000   28.389999   28.410000   85931100.0
 2010-02-02   28.500000   28.139999   28.370001   28.459999   54413700.0
 2010-02-03   28.790001   28.120001   28.260000   28.629999   61397900.0
 2010-02-04   28.500000   27.809999   28.379999   27.840000   77850000.0
 2010-02-05   28.280001   27.570000   28.000000   28.020000   80960100.0
 2010-02-08   28.080000   27.570000   28.010000   27.719999   52820600.0
 2010-02-09   28.340000   27.750000   27.969999   28.010000   59195800.0
 2010-02-10   28.240000   27.840000   28.030001   27.990000   48591300.0
 2010-02-11   28.400000   27.700001   27.930000   28.120001   65993700.0
 2010-02-12   28.059999   27.580000   27.809999   27.930000   81117200.0
 ...                ...         ...         ...         ...          ...
 2019-04-02  119.480003  118.519997  119.059998  119.190002   18142300.0
 2019-04-03  120.430000  119.150002  119.860001  119.970001   22860700.0
 2019-04-04  120.230003  118.379997  120.099998  119.360001   20112800.0
 2019-04-05  120.230003  119.370003  119.389999  119.889999   15826200.0
 2019-04-08  120.019997  118.639999  119.809998  119.930000   15116200.0
 2019-04-09  119.540001  118.580002  118.629997  119.279999   17612000.0
 2019-04-10  120.349998  119.540001  119.760002  120.190002   16477200.0
 2019-04-11  120.849998  119.919998  120.540001  120.330002   14209100.0
 2019-04-12  120.980003  120.370003  120.639999  120.949997   19745100.0
 2019-04-15  121.580002  120.570000  120.940002  121.050003   15792600.0
 2019-04-16  121.650002  120.099998  121.639999  120.769997   14071800.0
 2019-04-17  121.849998  120.540001  121.239998  121.769997   19300900.0
 2019-04-18  123.519997  121.300003  122.190002  123.370003   27991000.0
 2019-04-22  124.000000  122.570000  122.620003  123.760002   15648700.0
 2019-04-23  125.580002  123.830002  124.099998  125.440002   24025500.0
 2019-04-24  125.849998  124.519997  125.790001  125.010002   31257000.0
 2019-04-25  131.369995  128.830002  130.059998  129.149994   38033900.0
 2019-04-26  130.520004  129.020004  129.699997  129.889999   23654900.0
 2019-04-29  130.179993  129.350006  129.899994  129.770004   16324200.0
 2019-04-30  130.699997  129.389999  129.809998  130.600006   24166500.0
 2019-05-01  130.649994  127.699997  130.529999  127.879997   26821700.0
 2019-05-02  128.000000  125.519997  127.980003  126.209999   27350200.0
 2019-05-03  129.429993  127.250000  127.360001  128.899994   24911100.0
 2019-05-06  128.559998  126.110001  126.389999  128.149994   24239800.0
 2019-05-07  127.180000  124.220001  126.459999  125.519997   36017700.0
 2019-05-08  126.370003  124.750000  125.440002  125.510002   28419000.0
 2019-05-09  125.790001  123.570000  124.290001  125.500000   27235800.0
 2019-05-10  127.930000  123.820000  124.910004  127.129997   30915100.0
 2019-05-13  125.550003  123.040001  124.110001  123.349998   33944900.0
 2019-05-14  125.879997  123.699997  123.870003  124.730003   25253400.0

              Adj Close
 Date
 2009-12-31   24.241983
 2010-01-04   24.615801
 2010-01-05   24.623755
 2010-01-06   24.472631
 2010-01-07   24.218124
 2010-01-08   24.385145
 2010-01-11   24.074966
 2010-01-12   23.915895
 2010-01-13   24.138592
 2010-01-14   24.623755
 2010-01-15   24.544212
 2010-01-19   24.735104
 2010-01-20   24.329473
 2010-01-21   23.868181
 2010-01-22   23.033073
 2010-01-25   23.319397
 2010-01-26   23.462553
 2010-01-27   23.597769
 2010-01-28   23.192135
 2010-01-29   22.412704
 2010-02-01   22.595629
 2010-02-02   22.635405
 2010-02-03   22.770605
 2010-02-04   22.142290
 2010-02-05   22.285454
 2010-02-08   22.046848
 2010-02-09   22.277498
 2010-02-10   22.261591
 2010-02-11   22.364988
 2010-02-12   22.213871
 ...                ...
 2019-04-02  119.190002
 2019-04-03  119.970001
 2019-04-04  119.360001
 2019-04-05  119.889999
 2019-04-08  119.930000
 2019-04-09  119.279999
 2019-04-10  120.190002
 2019-04-11  120.330002
 2019-04-12  120.949997
 2019-04-15  121.050003
 2019-04-16  120.769997
 2019-04-17  121.769997
 2019-04-18  123.370003
 2019-04-22  123.760002
 2019-04-23  125.440002
 2019-04-24  125.010002
 2019-04-25  129.149994
 2019-04-26  129.889999
 2019-04-29  129.770004
 2019-04-30  130.600006
 2019-05-01  127.879997
 2019-05-02  126.209999
 2019-05-03  128.899994
 2019-05-06  128.149994
 2019-05-07  125.519997
 2019-05-08  125.510002
 2019-05-09  125.500000
 2019-05-10  127.129997
 2019-05-13  123.349998
 2019-05-14  124.730003

 [2357 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close      Volume  \
 Date
 2009-12-31   310.679321   307.986847   310.356445   307.986847   2455400.0
 2010-01-04   312.721039   310.103088   311.449310   311.349976   3937800.0
 2010-01-05   311.891449   308.761810   311.563568   309.978882   6048500.0
 2010-01-06   310.907837   301.220856   310.907837   302.164703   8009000.0
 2010-01-07   303.029083   294.410156   302.731018   295.130463  12912000.0
 2010-01-08   299.675903   292.651581   294.087250   299.064880   9509900.0
 2010-01-11   300.276978   295.100647   300.276978   298.612823  14519600.0
 2010-01-12   297.147339   292.100159   296.893982   293.332153   9769600.0
 2010-01-13   292.288940   285.095734   286.382355   291.648102  13077600.0
 2010-01-14   295.180145   289.521942   290.063416   293.019196   8535300.0
 2010-01-15   294.862213   287.152344   294.752930   288.126007  10939600.0
 2010-01-19   293.302338   286.283020   288.722137   291.911407   8689500.0
 2010-01-20   291.096710   285.786224   291.096710   288.329681   6543600.0
 2010-01-21   291.513977   284.276062   289.834900   289.606384  12697400.0
 2010-01-22   283.456390   265.701874   280.426086   273.227905  13689200.0
 2010-01-25   273.163330   266.024780   271.528961   268.255249   8897200.0
 2010-01-26   273.024231   266.412231   267.246826   269.457428   8767600.0
 2010-01-27   272.055542   265.925415   268.886169   269.298462   7980200.0
 2010-01-28   271.732635   263.585632   270.485748   265.418701   6500100.0
 2010-01-29   268.747070   261.106750   267.505127   263.257751   8334700.0
 2010-02-01   266.173798   263.436584   265.572693   264.787811   4530800.0
 2010-02-02   265.751556   262.100281   265.751556   263.843964   8245600.0
 2010-02-03   269.298462   262.408295   262.626862   268.662598   6037000.0

In [251]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [252]:
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [253]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [254]:
pd.value_counts(obj.values, sort=False)

b    2
c    3
a    3
d    1
dtype: int64

In [255]:
obj
mask = obj.isin(['b', 'c'])
mask
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [256]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [257]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [258]:
result = data.apply(pd.value_counts).fillna(0)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [261]:
!cat examples/ex1.csv

'cat' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [263]:
type examples/ex1.csv

SyntaxError: invalid syntax (<ipython-input-263-fcfc7a042fd0>, line 1)

如果在windows注意加r

In [279]:
df = pd.read_csv('examples/ex1.csv')
df

ParserError: Error tokenizing data. C error: Expected 1 fields in line 32, saw 2

In [280]:
pd.read_table('examples/ex1.csv', sep=',')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

ParserError: Error tokenizing data. C error: Expected 1 fields in line 32, saw 2

In [282]:
pd.read_csv('examples/ex2.csv', header=None)
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

FileNotFoundError: [Errno 2] File b'examples/ex2.csv' does not exist: b'examples/ex2.csv'

In [283]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

FileNotFoundError: [Errno 2] File b'examples/ex2.csv' does not exist: b'examples/ex2.csv'

In [284]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

FileNotFoundError: [Errno 2] File b'examples/csv_mindex.csv' does not exist: b'examples/csv_mindex.csv'

In [285]:
list(open('examples/ex3.txt'))

FileNotFoundError: [Errno 2] No such file or directory: 'examples/ex3.txt'

In [286]:
pd.options.display.max_rows = 10

In [287]:
result = pd.read_csv('examples/ex6.csv')
result

FileNotFoundError: [Errno 2] File b'examples/ex6.csv' does not exist: b'examples/ex6.csv'

In [288]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

FileNotFoundError: [Errno 2] File b'examples/ex6.csv' does not exist: b'examples/ex6.csv'

In [289]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

FileNotFoundError: [Errno 2] File b'examples/ex6.csv' does not exist: b'examples/ex6.csv'

In [290]:
tot[:10]

NameError: name 'tot' is not defined

In [291]:
data = pd.read_csv('examples/ex5.csv')
data

FileNotFoundError: [Errno 2] File b'examples/ex5.csv' does not exist: b'examples/ex5.csv'

In [292]:
data.to_csv('examples/out.csv')
!cat examples/out.csv

'cat' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [293]:
import sys
data.to_csv(sys.stdout, sep='|')

|Qu1|Qu2|Qu3
0|1|2|1
1|3|3|5
2|4|1|2
3|3|2|4
4|4|3|4

In [294]:
data.to_csv(sys.stdout, na_rep='NULL')

,Qu1,Qu2,Qu3
0,1,2,1
1,3,3,5
2,4,1,2
3,3,2,4
4,4,3,4

In [295]:
data.to_csv(sys.stdout, index=False, header=False)

1,2,1
3,3,5
4,1,2
3,2,4
4,3,4

In [296]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

KeyError: "None of [Index(['a', 'b', 'c'], dtype='object')] are in the [columns]"

In [297]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until
'cat' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [298]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [299]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [300]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [301]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [302]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [303]:
!rm mydata.sqlite

'rm' 不是内部或外部命令，也不是可运行的程序
或批处理文件。